@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* background: rgb(2,0,36); */
    /* --background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 48, 62, 1) 51%,
      rgba(5, 12, 13, 1) 90%
    ); */
    /* --background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(21, 21, 23, 1) 64%,
      rgba(5, 12, 13, 1) 94%
    ); */

    --background: radial-gradient(
      circle,
      rgba(41, 33, 85, 1) 0%,
      rgba(66, 79, 80, 1) 13%,
      rgba(29, 29, 35, 1) 70%
    );
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
